:root{
background-color:rgb(56, 56, 56); ;
}
*{
    background-color: rgb(56, 56, 56);
}
nav{
    height: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 2px 2px 4px #fff;
    overflow: hidden;
}
.name{
    font-size: 30px;
    text-transform: uppercase;
}
.iconsub .menusub{
   list-style: none;
   display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  
}
.menu  ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.icons  ul li {
    display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
    
}
.icons  ul li:hover{
    color: orange;
    text-decoration: underline;
}
.menu a{
    text-decoration: none;
    color: #fff;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.home{
    height:fit-content;
}
.text{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    top: 0;
}
.text span{
    text-decoration: underline orange;
    
}
.introtext{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 50px;
}
.roller{
    color: #fff;
    font-size: 30px;
}